* {
    margin: 0;
    font-family: Roboto, sans-serif;
}

/* Styling for containers */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.row-container>div {
    width: 100%;
    height: 100%;
}

/* Styling for nav bar and buttons */
.nav-bar {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.left-nav>em {
    font-size: 0.75rem;
    font-weight: 300;
}

.button {
    margin-right: 5px;
    border-radius: 8px;
    border: none;
}

/* Footer styles */
footer {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 300;
}